<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Cleaning_IncludeSCSS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeTypeScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeCSS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeVB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeHTML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeJSON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeJavaScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeLESS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeFSharp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludePowerShell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludePHP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Progressing_HideBuildProgressOnBuildStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_AlphabetizeMembersOfTheSameGroup"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Collapsing_CollapseSolutionWhenOpened" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Collapsing_KeepSoloProjectExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Progressing_ShowBuildProgressOnBuildStart" serializeAs="String">
                <value>False</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>