<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TechTreeEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <TechTreeEditor.Properties.Settings>
      <setting name="UnitRenderFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="UnitRenderFormWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainFormWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="EditGraphicsFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="EditGraphicsFormWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="UnitRenderFormSize" serializeAs="String">
        <value>1145, 632</value>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>1153, 672</value>
      </setting>
      <setting name="EditGraphicsFormSize" serializeAs="String">
        <value>1019, 690</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>en-US</value>
      </setting>
    </TechTreeEditor.Properties.Settings>
  </userSettings>
</configuration>